.header{
    display:flex;
    justify-content: center;
    text-decoration-line: underline
}
.textbox{
    display:flex;
    justify-content: center;

}

.container {
    display:flex;
}

.col-sm {
    flex:1;
}